.Home {
  padding: 40px 40px;
  /* min-height: 150vh; */
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: 300px;
  /* Fixed width for the sidebar */
  flex-shrink: 0;
  /* Prevent the sidebar from shrinking/stretching */
}

.FiltersDiv {
  border: 1px solid #cbcbcb;
  background-color: #f1f1f1;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 250px;
  transition: all 80ms ease-in-out;
  border-radius: 4px;
}

.FiltersDiv.dark {
  border: 1px solid #333333;
  background-color: #1b1d1c;
}

.FiltersDiv.hide {
  opacity: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 0;
  border: none;
}

.vidSaveBtn {
  background-color: rgb(36, 140, 158);
  color: white;
  border-radius: 100px;
  padding: 6px 16px;
  padding-right: 20px;
  font-size: 14px;
}

.vidSaveBtn:hover {
  background-color: rgb(36, 124, 139);
}

.shadow {
  box-shadow: 0px 5px 10px #0000001a;
}

.greenButton {
  color: black;
  background-color: var(--primary);
  padding: 10px 24px;
  border-radius: 100px;
  width: max-content;
  cursor: pointer;
  font-weight: 500;
}
.greenButton:hover {
  background-color: var(--hover);
}

.lightGreenButton {
  color: black;
  background-color: #e6f6ee;
  border: 0.5px solid black;
  padding: 6px 16px;
  border-radius: 100px;
  width: max-content;
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
}

.lightGreenButton.dark {
  color: white;
  background-color: #0e1914;
  border: 0.5px solid white;
}

.button {
  color: var(--text);
  background-color: transparent;
  border: 0.5px solid var(--text);
  padding: 10px 24px;
  border-radius: 100px;
  width: max-content;
  cursor: pointer;
  font-weight: 300;
}

button {
  transition: all 250ms ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  /* Moves up */
}

@media only screen and (max-width: 768px) {
  .Home {
    padding: 40px 20px;
    font-size: 14px;
  }

  .FiltersDiv {
    padding: 16px 0;
    max-width: 156px;
  }
}

.loader {
  border-top-color: #3b82f6;
}

.animate-checkmark {
  animation: checkmark 0.5s ease-in-out;
}

@keyframes checkmark {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
